.side-bar
  .header
    .header__items
      %p.header__items--name
        = current_user.name
      .header__items--icons
        = link_to "#" , class: "setting" do
          = icon('far', 'edit', class: "header__items--icons--left")
          %span<>
        = link_to edit_user_path(current_user), class: "setting" do
          = icon('fas', 'cog', class: "header__items--icons--right")
      
  .groups
    = link_to "#", class: "group" do
      .group__name
        techcamp
      .group__message
        まだ新着メッセージはありません
    = link_to "#", class: "group" do
      .group__name
        techcamp
      .group__message
        まだ新着メッセージはありません

    
    